{% assign author = site.author %}
<img class="author__avatar" src="{{ author.avatar | prepend: '/images/' | relative_url }}" alt="{{ author.name | escape }}" width="160" height="176">
<div class="author__content">
  <h2 class="author__name">{{ author.name }}</h2>
  <p class="author__bio">{{ author.bio }}</p>
  <ul class="author__urls">
    {% if author.location %}<li class="author__location">{{ author.location }}</li>{% endif %}
    {% if author.twitter %}<li><a href="https://twitter.com/{{ author.twitter }}">Twitter</a></li>{% endif %}
    {% if author.github %}<li><a href="https://github.com/{{ author.github }}">Github</a></li>{% endif %}
    {% if author.googlescholar %}<li><a href="{{ author.googlescholar }}">Google Scholar</a></li>{% endif %}
  </ul>
</div>
