{% assign page_title = page.title | default: site.title | markdownify | strip_html | strip_newlines %}
{% assign description = page.description | default: page.excerpt | default: site.description | markdownify | strip_html | strip_newlines %}
{% assign canonical_url = page.url | replace: 'index.html', '' | absolute_url %}
<title>{% if page.title %}{{ page_title | escape }} {{ site.title_separator }} {% endif %}{{ site.title | escape }}</title>
<meta name="description" content="{{ description | escape }}">
<link rel="canonical" href="{{ canonical_url }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:title" content="{{ page_title | escape }}">
<meta property="og:description" content="{{ description | escape }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
{% if page.date and page.undated != true %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.username }}">
<meta name="twitter:title" content="{{ page_title | escape }}">
<meta name="twitter:description" content="{{ description | escape }}">
{% if site.og_image %}
  {% assign social_image = site.og_image | prepend: '/images/' | absolute_url %}
  <meta property="og:image" content="{{ social_image }}">
  <meta name="twitter:image" content="{{ social_image }}">
{% endif %}
