---
layout: default
---
<main id="main" class="site-content{% unless page.author_profile %} site-content--wide{% endunless %}" tabindex="-1">
  {% include sidebar.html %}
  <article class="page">
    <header>
      {% if page.title %}
        <h1 class="page__title">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
      {% endif %}
      {% assign published_date = page.modified | default: page.date %}
      {% if page.term %}
        <p class="page__date">{{ page.institution }} <span aria-hidden="true">·</span> {{ page.term }}</p>
      {% elsif published_date %}
        <p class="page__date"><strong>Published:</strong> <time datetime="{{ published_date | date_to_xmlschema }}">{{ published_date | date: '%B %d, %Y' }}</time></p>
      {% endif %}
    </header>
    {% if page.research_gallery %}{% include research-gallery.html %}{% endif %}
    <div class="page__content">
      {{ content }}
      {% if page.link %}<p><a href="{{ page.link }}">Direct Link</a></p>{% endif %}
    </div>
    {% include post_pagination.html %}
  </article>
</main>
